<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>Enter your text here...</h1>
    <form action="/analize" method="get">
        <textarea name="dj_text" style="width: 1156px; height: 196px;">        
        </textarea><br>
        <input type="checkbox" name="removepunc">Remove Pantuation<br>
        <input type="checkbox"name='removenewline'>Remove new line<br>
        <input type="checkbox"name='fullcaps'>UPPER CASE<br>
        <input type="checkbox"name='spaceremove'>Extra space Remove<br>
        <input type="checkbox"name='charcount'>Charcter Count
 
        <button>Analize text</button>
    </form>
</body>
</html>